.table-container {
    display: flex;
    flex-direction: column;
    min-width: 0;
    /* max-height: calc(100vh - 120px); */
    /* overflow: auto; */
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.mat-table {
    overflow: auto;
    max-height: calc(100vh - 122px);
}
  
table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
    text-align: center;
    font-weight: bold;
}
table td,th{
    /* text-align: center; */
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
    padding-right: 0px;
}