

<!-- <div class="table-container"> -->
    <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> No. </mat-header-cell>
            <mat-cell *matCellDef="let element" width="10%"> {{element.position}}. </mat-cell>
        </ng-container>

        <ng-container matColumnDef="section">
            <mat-header-cell *matHeaderCellDef mat-sort-header width="20%"> Section </mat-header-cell>
            <mat-cell *matCellDef="let element" width="20%"> {{element.section}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header width="45%"> Question Type </mat-header-cell>
            <mat-cell *matCellDef="let element" width="40%"> {{element.type}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="number" >
            <mat-header-cell *matHeaderCellDef mat-sort-header width="20%"> Number of Questions </mat-header-cell>
            <mat-cell *matCellDef="let element" width="20%"> {{element.number}} </mat-cell>
        </ng-container>
    

        <ng-container matColumnDef="mark">
            <mat-header-cell *matHeaderCellDef mat-sort-header width="5%"> Prioritisation </mat-header-cell>
            <mat-cell *matCellDef="let element" width="10%" [style.background-color]="element.color"> {{element.mark}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
<!-- </div> -->