

<!-- <div class="table-container"> -->
    <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}}. </mat-cell>
        </ng-container>

        <ng-container matColumnDef="section">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Section </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.section}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Question Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="number" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> No. of Questions </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.number}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type1" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> S </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.type1}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="type2" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> W </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.type2}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="type3" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> R </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.type3}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="type4" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> L </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.type4}} </mat-cell>
        </ng-container>
    

        <ng-container matColumnDef="mark">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Prioritisation </mat-header-cell>
            <mat-cell *matCellDef="let element" [style.background-color]="element.color"> {{element.mark}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
<!-- </div> -->