.table-container {
    display: flex;
    flex-direction: column;
    min-width: 0;
    /* max-height: calc(100vh - 120px); */
    /* overflow: auto; */
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.mat-table {
    overflow: auto;
    max-height: calc(100vh - 122px);
}
  
table {
    width: 100%;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
    text-align: center;
    font-weight: bold;
}
mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type{
    padding-right: 0px;
    font-weight: bold;
    justify-content: center;
}
.mat-column-position {
    flex: 0 0 10%;
}
.mat-column-section {
    flex: 0 0 10%;
    justify-content: center;
}
.mat-column-type {
    flex: 0 0 28%;
    justify-content: center;
}
.mat-column-number {
    flex: 0 0 10%;
    justify-content: center;
}

.mat-column-type1 {
    flex: 0 0 7%;
    justify-content: center;
}

.mat-column-type2 {
    flex: 0 0 7%;
    justify-content: center;
}

.mat-column-type3 {
    flex: 0 0 7%;
    justify-content: center;
}
.mat-column-type4 {
    flex: 0 0 7%;
    justify-content: center;
}
.mat-column-mark {
    flex: 0 0 14%;
}
mat-cell, mat-header-cell, mat-footer-cell{
    border-left: 1px solid rgba(0, 0, 0, 0.12)!important;
}