<!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <mat-checkbox class="checklist-leaf-node"
            [checked]="false"
            (change)="todoLeafItemSelectionToggle(node)">{{node.name}} -- {{node.amount}}
        </mat-checkbox>
        <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        {{node.name}} --- Parent Node {{node.amount}}
    </mat-tree-node>
</mat-tree> -->

<h2 style="text-align: center;">PTE STUDY 14 DAYS PLAN</h2>

<div style="text-align: right;margin-bottom: 15px;">
    View As :
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" >
        <mat-button-toggle value="0" (click)="viewAs(0)" [checked]="(selectedIndex == 0)?true:false">Jerin</mat-button-toggle>
        <mat-button-toggle value="1" (click)="viewAs(1)" [checked]="(selectedIndex == 1)?true:false">Raqib</mat-button-toggle>
    </mat-button-toggle-group>
</div>


<div class="card alternative">
	<mat-tab-group class="form-wizard" [(selectedIndex)]="selectedIndex">
        <mat-tab>
			<ng-template mat-tab-label>
				<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
					<span>Jerin Jahan</span>
				</div>
            </ng-template>
            <mat-card>
                <h3 style="font-weight: bold;">Candidate Name : Jerin Jahan</h3>
                <!-- <table mat-table class="table table-bordered table-condensed">
                    <tr>
                        <th width="10%">ID</th>
                        <th colspan="2">Day Name</th>
                    </tr>
                    <tr *ngFor="let node of itemList">
                        <td width="10%">{{node.id}} .</td>
                        <td width="20%">{{node.day}}</td>
                        <td width="70%">
                            <table class="table-borderless">
                                <tr>
                                    <th>Status</th>
                                    <th>SL</th>
                                    <th>Name</th>
                                    <th>Number</th>
                                </tr>
                                <tr *ngFor="let i of node.items">
                                    <td width="10%">
                                        <mat-checkbox class="checklist-leaf-node"
                                            [checked]="i.isDone" (change)="doneItem(node.id,i.id)">
                                        </mat-checkbox>
                                    </td>
                                    <td width="20%">{{i.id}}</td>
                                    <td width="50%">{{i.name}}</td>
                                    <td width="20%">{{i.amount}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table> -->
                <div class="box box-default" *ngFor="let node of itemList" style="margin-bottom: 0px!important;">
                    <div class="box-header with-border bg-gray clearfix" style="padding: 4px!important;">
                        <button type="button" class="btn btn-box-tool pull-left bg-green-dark" (click)="collapse_div(node.id)">
                            <i class="fa" [ngClass]="{'fa-plus': !node.showChild, 'fa-minus': node.showChild}"></i>
                        </button>
                        <h5 class="box-title" style="margin-bottom: 0px; padding: 5px; padding-left:20px; margin-top:0px; font-weight:400;font-size: 15px;">
                            {{node.day}}
                        </h5>
                    </div>
                    <div class="box-body box1" [class.opened]="node.showChild">
                        <table class="table table-bordered table-condensed">
                            <tr>
                                <th>Status</th>
                                <th>SL</th>
                                <th>Name</th>
                                <th>Number</th>
                            </tr>
                            <tr *ngFor="let i of node.items">
                                <td width="10%">
                                    <mat-checkbox class="checklist-leaf-node"
                                        [checked]="i.isDone" (change)="doneItem(node.id,i.id)">
                                    </mat-checkbox>
                                </td>
                                <td width="20%">{{i.id}}</td>
                                <td width="50%">{{i.name}}</td>
                                <td width="20%">{{i.amount}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </mat-card>
        </mat-tab>
        <mat-tab>
			<ng-template mat-tab-label>
				<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
					<span>Raqib Hasan</span>
				</div>
            </ng-template>
            <mat-card>
                <h3 style="font-weight: bold;">Candidate Name : Raqib Hasan</h3>
                <!-- <table class="table table-bordered table condensed">
                    <tr>
                        <th width="10%">ID</th>
                        <th colspan="2">Day Name</th>
                    </tr>
                    <tr *ngFor="let node of itemList2">
                        <td width="10%">{{node.id}} .</td>
                        <td width="20%">{{node.day}}</td>
                        <td width="70%">
                            <table class="table table-bordered table condensed">
                                <tr>
                                    <th>Status</th>
                                    <th>SL</th>
                                    <th>Name</th>
                                    <th>Number</th>
                                </tr>
                                <tr *ngFor="let i of node.items">
                                    <td width="10%">
                                        <mat-checkbox class="checklist-leaf-node"
                                            [checked]="i.isDone" (change)="doneItem1(node.id,i.id)">
                                        </mat-checkbox>
                                    </td>
                                    <td width="20%">{{i.id}}</td>
                                    <td width="50%">{{i.name}}</td>
                                    <td width="20%">{{i.amount}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table> -->

                <div class="box box-default" *ngFor="let node of itemList2" style="margin-bottom: 0px!important;">
                    <div class="box-header with-border bg-gray clearfix" style="padding: 4px!important;">
                        <button type="button" class="btn btn-box-tool pull-left bg-green-dark" (click)="collapse_div1(node.id)">
                            <i class="fa" [ngClass]="{'fa-plus': !node.showChild, 'fa-minus': node.showChild}"></i>
                        </button>
                        <h5 class="box-title" style="margin-bottom: 0px; padding: 5px; padding-left:20px; margin-top:0px; font-weight:400;font-size: 15px;">
                            {{node.day}}
                        </h5>
                    </div>
                    <div class="box-body box1" [class.opened]="node.showChild">
                        <table class="table table-bordered table-condensed">
                            <tr>
                                <th>Status</th>
                                <th>SL</th>
                                <th>Name</th>
                                <th>Number</th>
                            </tr>
                            <tr *ngFor="let i of node.items">
                                <td width="10%">
                                    <mat-checkbox class="checklist-leaf-node"
                                        [checked]="i.isDone" (change)="doneItem1(node.id,i.id)">
                                    </mat-checkbox>
                                </td>
                                <td width="20%">{{i.id}}</td>
                                <td width="50%">{{i.name}}</td>
                                <td width="20%">{{i.amount}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </mat-card>
        </mat-tab>
	</mat-tab-group>
</div>



