.mat-card{
    padding:25px!important;
}
.bg-gray {
    color: #000;
    background-color: #d2d6de !important;
}
.open{
    display:block;
}
.close{
    display:none;
}

.box1-opener {
    cursor: pointer;
}

.box1 {
    background-color: #3197a76b;
    max-height: 0px;
    overflow-y: hidden;
    transition: ease-in-out 400ms max-height;
}

.box1.opened {
    max-height: 800px;
    transition: ease-in-out 800ms max-height;
}