.table-container {
    display: flex;
    flex-direction: column;
    min-width: 0;
    /* max-height: calc(100vh - 120px); */
    /* overflow: auto; */
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.mat-table {
    overflow: auto;
    max-height: calc(100vh - 122px);
}
  
table {
    width: 100%;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
    text-align: center;
    font-weight: bold;
}
mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type{
    padding-right: 0px;
    font-weight: bold;
    justify-content: center;
}
.mat-column-position {
    flex: 0 0 5%;
}
.mat-column-table_name {
    flex: 0 0 10%;
    justify-content: center;
    word-break: break-all;
}
.mat-column-column {
    flex: 0 0 25%;
    justify-content: center;
}
.mat-column-purpose {
    flex: 0 0 10%;
    justify-content: center;
}
.mat-column-comment {
    flex: 0 0 40%;
    justify-content: center;
}
.mat-column-status {
    flex: 0 0 10%;
}
mat-cell, mat-header-cell, mat-footer-cell{
    border-left: 1px solid rgba(0, 0, 0, 0.12)!important;
}

.mat-column-sl {
    flex: 0 0 5%;
    justify-content: center;
}
.mat-column-api {
    flex: 0 0 40%;
    justify-content: center;
}
.mat-column-columns {
    flex: 0 0 40%;
    justify-content: center;
}
